@font-face {
    font-family: JuliusSansOne;
    src: url(JuliusSansOne.ttf);
}

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: JuliusSansOne sans-serif;

}

.home{
    height: 640px;
}

.card img{
    height: 10rem;
}

.goto-section{
    color: #664636 !important;
}

.para-of-think{
    color: #929292 !important;
}

.lower-text{
    font-size: 10rem !important;
}

.testimonial-text{
    color: #ff4ef2;
}

.logo{
    width: 10rem;
    height: 10rem;
}

.error {
    color: #ffffff;
    display: none;
}

.form-img{
    background-image: url("http://localhost/project_viralite/assets/images/video_editing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}


input[type="text"]{
    height: 6rem;
    width: 22rem;
    margin: 10px;
    border-radius: 29px;
    border-style: none;
    font-weight: bold;
    font-size: 2rem;
}

input[type="text"]::placeholder{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: black;
}


textarea::placeholder{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: black;
    position: relative;
    top: 50%;
}

input[type="submit"] {
    height: 4rem;
    width: 22rem;
    margin: 10px;
    border-radius: 8px;
    border-style: none;
    background-color: #fae26a !important;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

textarea{
    height: 15rem;
    width: 22rem;
    border-radius: 24px;
    font-weight: bold;
    font-size: 2rem;
    padding: 5px;
}

.btm-text-count{
    font-size: 5rem;
}

@media(max-width:375px) {

 body{
    width: 384px;
 }

 .home-note{
    width: 100% !important;
    margin-bottom: 10px;
 }

 /* input[type="text"] {
    height: 6rem;
    width: 17rem;
    margin: 10px;
    border-radius: 29px;
    border-style: none;
    font-weight: bold;
    font-size: 2rem;
} */

}